/**
* @name custom.css
* @author Aélion
* @version 1.0.0
**/


/**
* body tag : all descendent tags


body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: hsla(200, 50%, 30%, 1);
    margin: 0;
}
**/


/**
* main-page style


#main-page {
    width: 80%;
    margin: 0 auto;
    background-color: hsla(200, 50%, 30%, .5);
    padding: 1.5em;
}

.standard-paragraphe {
    color: rgba(128, 128, 128, 1);
    font-weight: bold;
    text-align: justify;
}
**/